.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#commands {
  margin:  5px auto;
  display: block
}

#display-commands {
  display: block;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.game {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto;
}

.game-info {
  margin-left: 20px;
}

.square {
  background: #339933;
  border: 1px solid #999;
  float: left;
  font-size: 15px;

  line-height: 15px;
  height:15px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 15px;
}

.square:focus {
  outline: none;
}

.lawn {
  margin-top: 50px;
  display: block;
  width: fit-content;
  margin: auto;
}

.mower {
  margin: 5px;
  float:left;
}

.W {
  transform: rotate(270deg)
}

.S {
  transform: rotate(270deg)
}

.E {
  transform: rotate(270deg)
}